body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

#nav {
  display: flex;
  /* height: 100px; */
  /* background-color: #333; */
  background-image: linear-gradient(to right, rgb(29, 48, 24) , #333, rgb(23, 46, 89));
  justify-content:center;
}

ul {
  display: flex;
  padding: 0;
  margin:50px 0;
  color: white;
  list-style-type: none;
  gap: 20px;
  font-size: 16px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

form label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

form input {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  width: 100%;
  box-sizing: border-box;
}

form button[type="submit"] {
  font-size: 18px;
  padding: 10px 20px;
  /* background-color: #333; */
  background-image: linear-gradient(to right, rgb(29, 48, 24) , #333, rgb(23, 46, 89));
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
}

form button[type="submit"]:hover {
  background-image: linear-gradient(to right, rgb(38, 100, 31) , #333, rgb(33, 66, 127));
}

#confirmation-msg {
  background-color: #e5f5e0;
  border: 1px solid #c3e6cb;
  color: #155724;
  padding: 10px;
  margin-top: 20px;
}

.hidden {
  display: none;
}
